body{
    margin: auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  
    
}
section{
    max-width: 1360px;
    margin: 0 auto;
    /* position: relative; */
    /* Add position relative */
}
.words {
    display: flex;
    margin-left: 800px;
    font-weight: 700;
}
  
.words ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .words li {
    margin-left: 20px;
    color: #888;
    cursor: pointer;
    /* Optional: Add spacing between list items */
  }
  
  .words li:hover {
    text-decoration: underline;
  }
  
  .logo {
    position: relative;
    top: 0px;
    height: 70px;
  }
  
  .logo img{
    position: relative;
      left: 170px;
    align-content: center;
  }
  
  /*  Header Started  */

  .cancel{
    margin-top: -32px !important;
   }
  
  .topnav {
    width: 100%;
    overflow: hidden;
    background-color: #024d87;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .hactive {
    margin-left: 150px;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .search-container {
    float: right;
    margin-right: 200px;
    position: relative;
  }
  
  .search-container input[type=text] {
    display: none;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    margin-right: 50px;
    border: none;
  }
  
  .search-container button {
    padding: 5px 15px;
    margin-top: 8px;
    color: white;
    right: 0; /* Positioning the button to the right */
    background: #0370c0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: absolute; /* Positioning the button absolutely */
  }
  
  .search-container button:hover {
    background: #024d87;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #024d87;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #0370c0;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: #024d87;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .hactive {
      margin-left: 0px;
      color: white;
    }
    .search-container {
      position: relative;
      float: right;
    }
    .search-container input[type=text] {
      width: 120px;
      padding: 6px;
      top: 50px;
      position: absolute;
      right: 0;
      display: block;
    }
    .search-container button {
      top: 50px;
      position: absolute;
      right: 120px;
    }
    .words {
    display: none;
  }
    .logo{
      left: 0;
    }
   .logo img{
    left: 0px;
   }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
      .words {
    display: none;
  }
}


.mainsection{
    margin: auto;
    width: 1360px;
    align-content: center;
   
}

 .row.collapse.pageTitle{
    width: 1360px;


} 
.rowContent{
    width: 960px;

    margin: 0  auto;
    padding-left: 10px;
    
}  

h1{
  
    font-size: 34px;
    margin-top: 25px;
    font-weight: 20;
    font-style: 100;

}

#info{
    font-size: 16px;
    height: 40px;
    margin-top: 0px;   
    margin-bottom: 0px;
}

.rowContent.business{
    width: 960px;
   
    margin-left: 190px;
    padding-left: 10px;
    
}

ul{
    list-style: none;
    
}

.grid-container-main{
  position: relative;
  margin-left: -40px;
  width: 960px;
    height: 63px;
    display: grid;
    grid-template-columns: auto auto ;
    /* margin-left: -188px;  */
} 

#firstdiv{
  
   
    width: 480px;
    display: flex;
    justify-content: center;
    font-size: 23px;
    height: 63px;
    border-bottom: 3px solid #c6c6c6;
} 
#secdiv{
    font-size: 23px;
    display: flex;
    justify-content: center;
    color: black;
   
    height: 63px;
    border-bottom: 3px solid #c6c6c6;
    width: 480px; 
}

 #firstdiv.active{
    border-bottom: 3px solid#2196F3  ;
}

#firstdiv:hover {
    border-bottom: 3px solid #2196F3 ;
}

#secdiv.active{
    border-bottom: 3px solid #2196F3  ;
}

#secdiv:hover{
    border-bottom: 3px solid #2196F3 ;
}

.grid-item{
  color: black;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;  
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}


/* CSS of business started */

.image-container{
    position: relative;
    overflow: hidden;

}

.image-container .image{
    display: block;
    width: 470px;
    height: 298.14px;
}


.overlay{
    position: absolute;
    color: white;

    background-color: rgba( 0, 43, 75, .9);
    overflow: hidden;
    width: 470px;
    min-height: 0;
     transition: 1s ease; 
     bottom: 0px;
    max-height: 65px;
    line-height: 30px; 

    
}

.image-container {
    width: 470px;
}

 h2{
    font-size: 20px;
    width: 470px;
    margin-top: 20px;
    color: white;
    position: absolute;
    justify-content: center;
    text-align: center;
    font-family: Arial,  sans-serif;

}
.span{
    
    font-family: Arial,  sans-serif;
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin: 65px 10px 0px 40px;
}

.image-container:hover .overlay{
    
    min-height: 300px ;

}

/* Here CSS of Industry started */

.gridIndustry{
    display: grid;
    grid-template-columns: auto auto ;
    margin-left: -40px;

}
.contentInd{

    width: 480px;
    height: 430.16px;

}

.contentDiv{

    width: 480px;
    height: 359.16px;
}

.contentInd h2{
    text-align: center;
    color: rgb(23, 22, 22);
    justify-content: center;
    width: 480px;
    height: 51px;
    font-size: 20px;
    
    margin-top: 0px;
    margin-bottom: 0px;

}
.contentInd p{
    width: 397px;
    height: 71px;
    margin-left: 48px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.contentInd li{
    padding-bottom: 10px;
    margin-left: 48px;
}

.imgIndustry{
    width: 480px;
}


.imgIndustry img{
    width: 460px;
    padding-right: 20px;
}


/* CSS for mobile view (up to 600px width) */




@media screen and (max-width:600px) {
    body{
       
        margin: 0 auto ;
        
    }
    
    .mainsection{
        width: 100%;
        
    }
    .row.collapse.pageTitle{
        width: 100%;
        padding-bottom: 10px;
     
       
    }
    .rowContent{
        width: auto;
     margin-left: 0px;
     padding: 0px 10px 0px  10px;
    
    }

 
    .rowContent.business{
        width: auto;
        height: auto;
        margin-left: 0px;
        padding-left: 0px 10px 0px 10px;
     
    }
    #info{
        height: auto;
        
    }
   
    .grid-container-main{
        width: auto;
        grid-template-columns: auto;
        margin-left: -10px;
        padding-bottom: 80px;
       
    }

    #firstdiv{
       
        width: auto;
        padding-top: 10px;
        margin-left: -30px;
    }
    #secdiv{
        width: auto;
        margin-left: -30px;
       
    }

    .grid-container {
        display: block;
        width: auto;
        grid-template-columns: auto; 
    }

    .grid-container .business{
        width: auto;
    }
 
    .image-container{
        width: auto;
        overflow: visible;
       
    }
    .image-container .image{
        width: 100%;
    }

    .overlay{
        
        width: auto;
        color: white;
        background-color: rgba( 0, 43, 75, .9);
        line-height: 35px; 
        min-height: 310px;
        position: inherit;   
    }
    h2{
        width: 100%;
        color: white;
        margin-left: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        font-family: Arial,  sans-serif;
    }

    .span{
        font-family: Arial,  sans-serif;
        color: white;
        font-size: 16px;
        line-height: 22px;
        margin: 70px 10px 0px 30px;   
    } 



    /* CSS media query for industry */
 
    .gridIndustry{
        width: auto;
        display: block;
        margin-left: -40px;
    }

    .contentInd{
        width: auto;
        height: auto;
    }
    .contentDiv{

        width: auto;
        height: auto;
    }

    .contentInd h2{
        text-align: center;
        justify-content: center;
        width: auto;
        height: auto;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .contentInd p{
       
        width: auto;
        height: 71px;
        margin-left: 10px;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .contentInd li{
        
        padding-bottom: 10px;
        margin-left: 0px;
    }
    
    .imgIndustry{
        
        width: auto;
    }
    
    
    .imgIndustry img{
        width: 100%;
        padding-right: 0px;
    }


} 


     /* footer started */
footer{
  text-align: center;
  left: 0;
  height: 400px;
  background-color: #eee;
  bottom: 0;
  font-size: 15px;
}

.footer-div{
  display: flex;
  width: 960px;
  margin-left: 13%;
}

.about-us{
  width: 245px;
margin-left: 20px;
  text-align: left;
}

.about-us h3{
  color: black;
  margin-top: 50px;
  font-weight: 600;
  line-height: 2px;
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;

}

.about-us h3:hover{
  cursor: pointer;
  text-decoration: underline;
}

.contact{
  width: 245px;
  margin-top: 11px;
  margin-left: 20px;
    text-align: left;
}

.contact h3{
  margin-top: 40px;
  line-height: 2px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c6c6c6;

}

.about-us ul {
  list-style-type: none; /* Remove bullet points */
  line-height: 22px;
  padding: 0;
}

.about-us p{
  word-wrap: break-word;
}

.about-us span a{
  text-decoration: none;
}
.contact span a{
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 600px) {

  footer{
    height: 300px;
  }

  .footer-div{
    display: flex;
    width: 80%;
    margin-left: 0px;
  }

.about-us {
  display: none; /* Hide all sections except contact in mobile view */
}
.contact {
  display: block; /* Display only contact section */
  width: 91%; /* Set full width for contact section */
  margin-top: 0px;
  margin-left: 20px;
    text-align: left;
}
}
/* Footer Ended */